<div>

    <div class="text-center">
      <p style="text-decoration: underline;">اهلا بك <%=Current.user.name %></p>
    </div>
  <div class="row justify-content-center align-items-center ">
    <div class="col-sm-12 col-md-12 col-lg-auto  text-center ">
      <%= image_tag "karmah_logo.jpg" , height:"250px",  width: "250px" , class: "mx-auto" %>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-8 px-2">
      
      <h4> - نظرة عامة</h4>
      <div class="px-4">
        <h6>اجمالي عدد العملاء: <%= @totals[:clients] %></h6>
        <h6>اجمالي المبيعات: <%= @totals[:sales] %></h6>
        <h6>اجمالي المدفوعات: <%= @totals[:payments] %></h6>

        <p class='px-4'>
          - اجمالي النقدي: <%= Payment.total_cash %><br>
          -  اجمالي التحويل البنكي: <%= Payment.total_transfer %>
        </p>
        <h6>اجمالي المتبقي: <%= @totals[:sales] - @totals[:payments] %></h6>
      </div>
      <hr>
      <br>
      <div class="mt-3">
        <h4>- تفاصيل عن الشهر</h4>
        <div class="px-4">
          <% %>
          <h6>
          لديك 
          <%= " ( #{@clients_last_order_since_one_month_count} ) " %>
          عملاء لم يقوموا بعمل طلبيات منذ أكثر من شهر.  
          
          </h6>

          <h6>
            لديك 
            <%= " ( #{@invoices_not_full_paid_since_one_month_count} )" %>
            فواتير غير مكتملة السداد و مر على تاريخها أكثر من شهر.
          </h6>

          <h6>
            متوسط البيع خلال الثلاث أشهر السابقة هو
            <%= " ( #{@last_quarter_average_sales} ريال)." %>
          </h6>

          <h6>
            مبيعات الشهر الحالي : 
            <%= " ( #{@sales_for_current_month} ريال )." %>
          </h6>
        </div>
      </div>
    </div>
  </div>

</div>