
<div class='mt-3'>
  <h3>تحديث بيانات عميل : </h3>
  <div class='form-control'>

    <%= form_for @client , url: client_path(@client), method: 'PATCH' do  |form| %>
      <% if @client.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <% @client.errors.full_messages.each do |msg| %>
            <div><%= '* ' + msg %></div>
          <% end %>
        </div>
      <% end %> 

      <div class='m-3'>
        <%= form.label "الاسم", class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class='m-3'>
        <%= form.label "المنطقة", class: 'form-label' %>
        <%= form.text_field :area, class: 'form-control' %>
      </div>

      <div class='m-3 mb-3'>
        <%= form.submit 'حفظ', class: 'btn btn-success' %>
        <%= link_to "عودة", client_path(@client), class: 'btn btn-primary' %>
      </div>


    <%end%>

  </div>
</div>
