

<h1>
  قائمة العملاء
</h1>
<hr>
<div>
  <h6>اجمالي عدد العملاء: <%= @totals[:clients] %></h6>
  <h6>اجمالي المبيعات: <%= @totals[:sales] %></h6>
  <h6>اجمالي المدفوعات: <%= @totals[:payments] %></h6>

  <p class='px-4'>
    - اجمالي النقدي: <%= Payment.total_cash %><br>
    - اجمالي التحويل البنكي: <%= Payment.total_transfer %>
  </p>
  <h6>اجمالي المتبقي: <%= @totals[:sales] - @totals[:payments] %></h6>
</div>
<hr>
  <div>
    <%= render partial: 'clients/partials/search'%>
  </div>
<hr>
<div class='table-responsive mt-2'>
  <table class='table table-success table-hover '>
    <thead class='table-dark'>
      <tr>
        <th scope="col">#</th>
        <th scope="col">الاسم</th>
        <th scope="col">المنطقة</th>
        <th scope="col">عدد الفواتير</th>
        <th scope="col">قيمة الفواتير</th>
        <th scope="col">المبالغ المسددة</th>
        <th scope="col">المبلغ المتبقي</th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody>
      <%@clients.each_with_index do |client, idx|%>
        <tr>
          <th scope='row'><%= idx+1 %></th>
          <td><%= client.name%> </td>
          <td><%= client.area%></td>
          <td><%= client.invoices_count || 0 %></td>
          <td><%=client.sales || 0.0 %></td>
          <td><%=client.paid || 0.0 %></td>
          <td><%= client.remaining_balance || 0.0%></td>
          <td><%= link_to "عرض", client_path(id:client.id), class: 'btn btn-outline-success btn-sm' %></td>
        </tr>
      <%end%>
    <tfoot class='table-dark'>
      <tr>
        <th>#</th>
        <td></td>
        <td></td>
        <td><%= @totals[:invoices_count] %></td>
        <td><%= @totals[:sales] %></td>
        <td><%= @totals[:payments] %></td>
        <td><%= @totals[:remaining_balance] %></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
    </tbody>
  </table>

  
</div>
