

<h1>
  بحث العملاء
</h1>
<hr>
<div class='table-responsive mt-2'>
  <table class='table table-success table-hover '>
    <thead class='table-dark'>
      <tr>
        <th scope="col">#</th>
        <th scope="col">الاسم</th>
        <th scope="col">المنطقة</th>
        <th scope="col">عدد الفواتير</th>
        <th scope="col">قيمة الفواتير</th>
        <th scope="col">قيمة المدفوعات</th>
        <th scope="col">المبلغ المتبقي</th>
        <th scope='col'></th>
      </tr>
    </thead>
    <tbody>
      <%@clients.each do |client|%>
        <tr>
          <th scope='row'><%= client.id %></th>
          <td><%= client.name%> </td>
          <td><%= client.area%></td>
          <td><%= client.invoices.count%></td>
          <td><%=client.invoices.total_sales%></td>
          <td><%=client.invoices.total_payments%></td>
          <td><%=client.invoices.total_payments_remaining%></td>
          
          <td><%= link_to "عرض", client_path(id:client.id), class: 'btn btn-outline-success btn-sm' %></td>
        </tr>
      <%end%>
    
    </tbody>
  </table>

  <%= link_to "بحث جديد" , new_search_path ,class: 'btn btn-sm btn-success' %>
  <%= link_to "عودة" , clients_path ,class: 'btn btn-sm btn-primary' %>
</div>
