
<h1>
  قائمة المنتجات
</h1>
<hr>
<div class='table-responsive mt-2'>
  <%= link_to "منتج جديد" , new_product_path ,class: 'btn btn-sm btn-success mb-2' %>
  <table class='table table-success table-hover '>
    <thead class='table-dark'>
            <tr>
              <th scope="col">#</th>
              <th scope="col">المنتج</th>
              <th scope="col">السعر</th>
              <th scope="col">الوصف</th>
              <th scope="col">الحالة</th>
              <th scope='col'></th>
            </tr>
          </thead>
          <tbody>
            <%@products.each_with_index do |product , idx|%>
              <tr>
                <th scope='row'><%= idx+1 %></th>
                <td><%= product[:name]%> </td>
                <td><%= product[:price]%> </td>
                <td><%= product[:description]%></td>
                <td><%= product[:active] ? "متاح" : "غير متاح"%></td>
                <td>
                  <%= link_to "تحديث", edit_product_path(id: product[:id]), class: 'btn btn-outline-success btn-sm' %>
                </td>
              </tr>
            <%end%>
          </tbody>

  </table>

  <%= link_to "الرئيسية" , main_path ,class: 'btn btn-sm btn-primary' %>
</div>
